.carousel {
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.slides {
  margin: 0;
  padding: 0;
  
  // non javascript support
  .no-js & li {
    display: none;

    &:first-child {
      display: block;
    }
  }
}

.flex-control-nav {
  position: absolute;
  bottom: 5px;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 100;
  text-align: center;

  @include respond($desktopMin) {
    bottom: 15px;
  }

  li {
    display: inline;
    margin: 0 5px;

    a {
      display: inline-block;
      border: 0;
      width: 20px;
      height: 20px;
      background: url(../img/layout/carousel-icon.png) 0 0 no-repeat;
      overflow: hidden;
      text-indent: -9999px;
      cursor: pointer;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;

      &:hover,
      &.flex-active {
        background-image: url(../img/layout/carousel-icon--active.png);
      }
    }
  }
}