.features {
  clear: both;
  padding-top: 8px;
  background: url(../img/layout/divider.gif) center top no-repeat;
  
  header {
    text-align: center;
  }

  .features__heading {
    font-size: 20px;
    display: inline-block;
    margin: 20px auto;
    position: relative;

    @include respond($desktopMin) {
      font-size: 30px;
    }

    &:before,
    &:after {
      content: "";
      background: url(../img/layout/icon-mobile.gif) 0 0 no-repeat;
      width: 25px;
      height: 9px;
      position: absolute;
      top: 9px;

      @include respond($desktopMin) {
        background-image: url(../img/layout/icon.gif);
        width: 38px;
        height: 15px;
        top: 13px;
      }
    }
    &:before { left: -35px; }
    &:after { right: -35px; }

    @include respond($desktopMin) {
      &:before { left: -55px; }
      &:after { right: -55px; }
    }
  }

  .features__item {

  }

  .features__item-img {
    background: url(../img/layout/divider-single.gif) left bottom repeat-x;
    padding: 0 0 13px;
  }

  .features__item-heading {
    text-align: center;
    font-size: 20px;
    margin: 10px 0 30px;

    @include respond($desktopMin) {
      margin: 20px 0 0;
    }
  }
}