.media-block {
  padding-top: 60px;
  background: url(../img/layout/divider.gif) center top no-repeat;

  @include respond($desktopMin) {
    margin-top: 50px;
  }

  .media-block__item {
    position: relative;
    margin-bottom: 30px;
  }

  .media-block__item-img {
    background: url(../img/layout/divider-half.gif) left bottom no-repeat;
    padding: 0 0 13px;
  }

  .media-block__item-heading {
    text-align: center;
    font-size: 14px;
    width: 95%;
    margin: 20px 0 0;
    padding: 15px 0 15px 5%;
    position: absolute;
    bottom: 13px;
    left: 0;
    color: #fff;
    text-align: left;
    background: url(../img/layout/semi-trans.png) 0 0 repeat;

    @include respond($desktopMin) {
      font-size: 18px;
      padding: {
        top: 20px;
        bottom: 20px;
      }
    }
  }
}