.site-nav {
  display: none;
  margin: {
    top: 0;
    bottom: 0;
  }  
  padding: 0 0 20px;
  border-top: 1px solid lighten($body-font-colour, 30%);

  &.is-open {
    display: block;
  }

  .site-nav__item {
    border-color: lighten($body-font-colour, 30%);
    border-width: 0 0 1px;
    border-style: solid;
    text-transform: uppercase;
    font-size: 18px;

    a {
      display: block;
      padding: 7px 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .site-nav__item--highlight {
    a {
      color: #6A8E56;
    }
  }

  @include respond($desktopMin) {
    border: 0;
    padding: 0;
    display: block;

    .site-nav__item {
      float: left;
      font-size: 20px;
      border-width: 0 0 0 1px;
      margin: 0 0 15px 10px;
      padding: 0 0 0 10px;
      line-height: 0.9em;

      &:first-child {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
      }

      a {
        padding: 0;
      }
    }

    .site-nav__item--highlight {
      float: right;
      font-size: 18px;
      border-left: 0;
      margin-left: 0;
      padding-left: 0;
      line-height: 1.15em;
    }
  }
}

.site-nav__btn {
  position: absolute;
  left: 20px;
  top: 25px;

  span {
    display: block;
    float: left;
    clear: left;
    height: 5px;
    background: $body-font-colour;
    width: 25px;
    margin: 0 0 3px;
  }
  
  em {
    display: block;
    visibility: hidden;
    position: absolute;
    left: -999em;
  }

  @include respond($desktopMin) {
    visibility: hidden;
    position: absolute;
    left: -999em;
  }
}