.site-header {
  background-color: #fff;

  @include respond($desktopMin) {
    background: none;
  }

  .site-header__logo {
    background-image: url(../img/layout/logo-mobile.gif);
    height: 32px;
    width: 96px;
    margin: 16px auto 24px;

    @include respond($desktopMin) {
      background-image: url(../img/layout/logo.gif);
      height: 103px;
      width: 311px;
      margin: {
        top: 40px;
        bottom: 40px;
      }
    }
  }
}