$breakpoints: 0,320,400,460,480,560,640,720,800,880,960,1024,1040,1120,1200,1280,1360,1440;

@mixin respond($point) {
  @each $breakpoint in $breakpoints {
    @if $point == $breakpoint {
      @media (min-width:#{$breakpoint / 16}em) { @content; }
    }
  }
}

@each $breakpoint in $breakpoints {
	@media (min-width:#{$breakpoint / 16}em) { 
		html:after { 
			content:"#{$breakpoint}"; 
			display: none;
		}
	}
}
