body,
html,
button,
input,
select,
textarea {
	font-family: $body-font-family;
	color: $body-font-colour;
}

h1, h2, h3, h4, h5 {
	font-family: $heading-font-family;
  font-weight: normal;
	color: $heading-color;
  text-transform: uppercase;
}

a {
  color: $anchor;
  text-decoration: none;

  &:hover {
    color: $anchor-hover;
  }
}