//ANCHOR
$anchor: #434343;
$anchor-hover: #434343;


//BORDERS
$border: #d1d1d1;
$border-width: 1px;
$border-radius: 0;


// BACKGROUND
$body-bg: #F3F3F3;
$main-bg: #F3F3F3;


// Base Font Size
$em-base: 16px; // must be set to use emCalc function


// Body text
$body-font-colour: #434343;
$body-font-family: Arial, sans-serif;
$placeholder: #888888;
$input-font-colour: #333;


//Headings
$heading-color: #333;
$heading-font-family: Arial, sans-serif;


// GRID
$mobileMin: 320;
$desktopMin: 480;
$desktopMax: 960;